---
import type { PostProps } from '@/lib/types';
import { formatDate } from '@/lib/helper';
import { PortableText } from 'astro-portabletext';

const { post } = Astro.props as { post: PostProps };
---

<div class="[&:not(:last-child)]:mb-16 [&:not(:last-child)]:lg:mb-0">
  <div class="rounded-lg border-[1.5px] border-muted-foreground p-4 pb-8">
    <a class="relative" href={`/blog/${post.slug}`}>
      <div class="img">
        {
          post.imageType === 'upload' ? (
            <img
              class="translate-y-[-3rem] rounded-xl"
              src={post.image?.asset.url}
              alt={post.image?.alt}
            />
          ) : (
            <img
              class="translate-y-[-3rem] rounded-xl"
              src={post.url}
              alt={post.image?.alt}
            />
          )
        }
        <span
          class="absolute left-[1rem] top-[-1rem] rounded-full bg-primary px-4 py-[0.3rem] font-500 text-primary-foreground"
        >
          {post.tags && post.tags[0]}
        </span>
      </div>
    </a>

    <div>
      <ul
        class="relative mb-4 flex items-center justify-start text-foreground/50"
      >
        <li
          class="relative mr-8 after:absolute after:right-[-1.3rem] after:top-[0.6rem] after:size-[8px] after:rounded-full after:bg-foreground/50"
        >
          {formatDate(post.date)}
        </li>
        <li>{post.author}</li>
      </ul>

      {/* Display blog title */}
      <h3 class="mb-4 text-200 font-600 leading-[1.4]">{post.title}</h3>

      <article class="prose prose-neutral mb-4 line-clamp-3 dark:prose-invert">
        <PortableText value={post.content} />
      </article>

      {/* Link to continue reading */}
      <a
        class="relative font-500 text-primary after:absolute after:bottom-[-0.2rem] after:left-0 after:h-[3px] after:w-[30px] after:rounded-md after:bg-primary after:transition-all after:duration-300 hover:after:w-full"
        href={`/blog/${post.slug}`}
      >
        Continue Reading
      </a>
    </div>
  </div>
</div>
